* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #040404;
  font-family: Helvetica, Arial, sans-serif;
}
/*Dose heading styling*/
header {
  padding: 20px 35px;
  background-color: #1f5eac;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  color: black;
  opacity: 90%;
}
/*MyKid heading styling*/
header h1 {
  font-weight: bold;
  font-size: 40px;
  color: #fce138;
  margin: 0;
  display: inline;
}
header a {
  text-decoration: none;
  color: #fce138;
}

.pageend {
  background: #1f5eac;
  width: 100%;
  padding: 15px 25px;
  opacity: 95%;
}
/*Disclaimer styling*/
footer h2 {
  display: inline;
  color: #fce138;
  font-size: 30px;
  margin: 0;
}

footer a {
  color: #1f5eac;
}
/*Form styling and placement along with background*/
.form {
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.drug-form {
  background-color: #fce138;
  padding: 20px;
  width: 500px;
  color: #024e76;
  position: absolute;
  bottom: 100x;
  top: 75px;
  right: 500px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  text-align: left;
}

.drug-form h3 {
  font-size: 24px;
  margin: 0;
}
.drug-form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}

.drug-form label {
  margin: 0 5px;
}
/*Let's Calculate button*/
.drug-form button {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}
/*Results box styling*/
.results {
  padding: 20px;
  width: 500px;
  bottom: 100x;
  top: 75px;
  right: 500px;
  margin-left: 439px;
  background-color: #fce138;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}
.background {
  background-image: url("../images/medicine\ background\ photo.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
