.header h1 {
  display: inline-block;
  font-size: 48px;
  margin-top: 20px;
}
header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  background-image: url("../images/medicine\ background\ photo.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: 20%;
  z-index: 9999;
}
#mykid {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
input {
  width: 100%;
  padding: 12px;
}

.text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: black;
}

form {
  background-color: rgb(255, 196, 0);
  opacity: 80%;
  color: transparent;
  width: 500px;
  height: 300px;
  margin: 100px auto 100px;
  padding: 100px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
footer {
  background: #fce138;
  width: 100%;
  padding: 20px 15px;
}

footer h2 {
  display: inline;
  color: #1f85bb;
  font-size: 30px;
  margin: 0;
}

.container{
  display: grid;
  height: 200px;
  width: 550px;
  margin: auto;
  border: 5px solid black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 25px 1fr;
}

/* #input{
  height: 20px;
  width: 200px;
  grid-column-start: 2;
  grid-column-end: 4;
  justify-content: center;
  align-self: center;
}

#lbs{
  height: 20px;
  width: 200px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  justify-content: center;
}

#dosage{
  height: 20px;
  width: 200px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 2;
  
  justify-content: center;
} */
footer a {
  color: #1c79ab;
}
